src/CSharpx/bin/*
src/CSharpx/obj
src/CSharpx.Tests/bin/*
src/CSharpx.Tests/obj
build/*
packages
*.suo
*.userprefs
*~
\#*\#
*.pidb
*.test-cache
src/CSharpx/test-results/*
src/CSharpx.Tests/test-results/*
*.DS_Store
*.csproj.user
TestResult.xml
*.nupkg
*.old
StyleCop.Cache