source https://www.nuget.org/api/v2

nuget coverlet.collector 1.0.1
nuget FluentAssertions 5.9.0
nuget FsCheck 3.0.0-alpha4 prerelease
nuget FsCheck.Xunit 3.0.0-alpha4 prerelease
nuget Microsoft.NET.Test.Sdk 16.2.0
nuget xunit 2.4.0
nuget xunit.runner.visualstudio 2.4.0
nuget FSharp.Core 4.7.0